<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @record.money %>
</p>

<p>
  <strong>Commodity:</strong>
  <%= @record.commodity %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
